%li.key-list-item
  .float-left.append-right-10
    - if key.valid?
      = icon 'key', class: 'settings-list-icon d-none d-sm-block'
    - else
      = icon 'exclamation-triangle', class: 'settings-list-icon d-none d-sm-block has-tooltip',
        title: key.errors.full_messages.join(', ')


  .key-list-item-info
    = link_to path_to_key(key, is_admin), class: "title" do
      = key.title
    .description
      = key.fingerprint
    .last-used-at
      last used:
      = key.last_used_at ? time_ago_with_tooltip(key.last_used_at) : 'n/a'
  .float-right
    %span.key-created-at
      = s_('Profiles|Created %{time_ago}'.html_safe) % { time_ago:time_ago_with_tooltip(key.created_at)}
    - unless key.is_a? LDAPKey
      = link_to path_to_key(key, is_admin), data: { confirm: _('Are you sure?')}, method: :delete, class: "btn btn-transparent prepend-left-10" do
        %span.sr-only _('Remove')
        = icon('trash')
